body {
  background-color: #def;
}
.animation-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.animations-ready .animation-container svg {
  opacity: 1;
}
#circle-logo {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: 240px 240px;
      -ms-transform-origin: 240px 240px;
          transform-origin: 240px 240px;
}
